# Merging Pluto and Census data with HPD data.
In this notebook, we merge the processed HPD data with the PLUTO and census data. We will merge the HPD and PLUTO data first, using BBL as a merge key. Then we will merge this set with the census, using BoroughID and census tract as keys.

In [2]:
import pandas as pd
from get_clean_pluto_building_data import *
import re

pluto = get_clean_pluto_data()
hpd = pd.read_csv('../../data/merged_complaints_problems_violations.csv')

merged_hpd_pluto = pd.merge(pluto, hpd, on='BBL', how='inner')
merged_hpd_pluto.head(6)

,UnitsRes,AssessTot,BBL,CT2010,Avg_value_per_res_unit,BuildingAge,YearSinceLastAlter,Unnamed: 0,UnitTypeID,SpaceTypeID,...,MajorCategoryID,MinorCategoryID,CodeID,Probs_in_complaint,ViolationIssued,BoroughID,ReceivedDate,Tot_A_violations,Tot_B_violations,Tot_C_violations
0,8,104219,2022600018,001900,13027.375,95,6,571341,92,550,...,59,349,2716,1,0,2,2015-04-28,1,0,4
1,8,104219,2022600018,001900,13027.375,95,6,571342,91,543,...,59,348,2713,1,0,2,2015-04-28,1,0,4
2,12,347400,2022610045,001900,28950.000,90,90,175068,92,550,...,59,349,2715,1,0,2,2014-11-05,1,1,0
3,12,347400,2022610045,001900,28950.000,90,90,175069,91,543,...,59,348,2713,1,0,2,2014-11-13,1,1,0
4,12,347400,2022610045,001900,28950.000,90,90,175070,92,550,...,59,349,2715,1,0,2,2014-11-13,1,1,0
5,12,347400,2022610045,001900,28950.000,90,90,175071,92,550,...,59,349,2715,1,0,2,2014-11-13,1,1,0

In [3]:
merged_hpd_pluto.shape

(609157, 21)

In [4]:
merged_hpd_pluto.columns

Index([u'UnitsRes', u'AssessTot', u'BBL', u'CT2010', u'Avg_value_per_res_unit',
       u'BuildingAge', u'YearSinceLastAlter', u'Unnamed: 0', u'UnitTypeID',
       u'SpaceTypeID', u'TypeID', u'MajorCategoryID', u'MinorCategoryID',
       u'CodeID', u'Probs_in_complaint', u'ViolationIssued', u'BoroughID',
       u'ReceivedDate', u'Tot_A_violations', u'Tot_B_violations',
       u'Tot_C_violations'],
      dtype='object')

Note the index of from hpd has been added as a feature to the merged dataset (as evidenced by the fact it has 609157 unique values in a dataframe with 609157 rows), so we'll drop it before proceeding.

In [5]:
len(merged_hpd_pluto['Unnamed: 0'].unique())

609157

In [6]:
merged_hpd_pluto = merged_hpd_pluto.drop('Unnamed: 0', axis=1)

In [7]:
merged_hpd_pluto.shape

(609157, 20)

In [9]:
from get_income_data_from_census import *
income = get_clean_income_data()

merged_pluto_hpd_census = pd.merge(income, merged_hpd_pluto, on=['CT2010','BoroughID'], how='inner')

In [10]:
merged_pluto_hpd_census.head(6)

,Median_income,State,CT2010,BoroughID,UnitsRes,AssessTot,BBL,Avg_value_per_res_unit,BuildingAge,YearSinceLastAlter,...,TypeID,MajorCategoryID,MinorCategoryID,CodeID,Probs_in_complaint,ViolationIssued,ReceivedDate,Tot_A_violations,Tot_B_violations,Tot_C_violations
0,69514,36,000200,2,2,7363,2034410083,3681.5,75,75,...,4,10,341,2678,1,0,2015-04-17,0,0,0
1,69514,36,000200,2,1,8060,2034420123,8060.0,70,70,...,1,61,365,2767,1,0,2015-03-28,0,0,0
2,69514,36,000200,2,1,8060,2034420123,8060.0,70,70,...,1,56,333,2664,5,0,2015-03-28,0,0,0
3,69514,36,000200,2,1,8060,2034420123,8060.0,70,70,...,3,9,65,2536,5,0,2015-03-28,0,0,0
4,69514,36,000200,2,1,8060,2034420123,8060.0,70,70,...,3,11,73,679,5,0,2015-03-28,0,0,0
5,69514,36,000200,2,1,8060,2034420123,8060.0,70,70,...,3,63,376,2822,5,0,2015-03-28,0,0,0

In [11]:
print merged_pluto_hpd_census.shape

(609157, 22)

In [12]:
merged_pluto_hpd_census.columns

Index([u'Median_income', u'State', u'CT2010', u'BoroughID', u'UnitsRes',
       u'AssessTot', u'BBL', u'Avg_value_per_res_unit', u'BuildingAge',
       u'YearSinceLastAlter', u'UnitTypeID', u'SpaceTypeID', u'TypeID',
       u'MajorCategoryID', u'MinorCategoryID', u'CodeID',
       u'Probs_in_complaint', u'ViolationIssued', u'ReceivedDate',
       u'Tot_A_violations', u'Tot_B_violations', u'Tot_C_violations'],
      dtype='object')

Now, we drop features that we anticipate are non-informative.

In [13]:
merged_pluto_hpd_census = merged_pluto_hpd_census.drop(['State','CT2010','BBL'],axis=1)
merged_pluto_hpd_census.shape

(609157, 19)

In [14]:
merged_pluto_hpd_census.columns

Index([u'Median_income', u'BoroughID', u'UnitsRes', u'AssessTot',
       u'Avg_value_per_res_unit', u'BuildingAge', u'YearSinceLastAlter',
       u'UnitTypeID', u'SpaceTypeID', u'TypeID', u'MajorCategoryID',
       u'MinorCategoryID', u'CodeID', u'Probs_in_complaint',
       u'ViolationIssued', u'ReceivedDate', u'Tot_A_violations',
       u'Tot_B_violations', u'Tot_C_violations'],
      dtype='object')

Now, let's see if it has any missing values:

In [15]:
merged_pluto_hpd_census.isnull().any(axis=1).sum()

35

It looks like we still have 35 records with missing values- since they represent an insignificant fraction of our total dataset, we drop them.

In [16]:
merged_pluto_hpd_census = merged_pluto_hpd_census[~(merged_pluto_hpd_census.isnull().any(axis=1))]

In [17]:
merged_pluto_hpd_census.shape

(609122, 19)

In [18]:
merged_pluto_hpd_census.head(5)

,Median_income,BoroughID,UnitsRes,AssessTot,Avg_value_per_res_unit,BuildingAge,YearSinceLastAlter,UnitTypeID,SpaceTypeID,TypeID,MajorCategoryID,MinorCategoryID,CodeID,Probs_in_complaint,ViolationIssued,ReceivedDate,Tot_A_violations,Tot_B_violations,Tot_C_violations
0,69514,2,2,7363,3681.5,75,75,91,543,4,10,341,2678,1,0,2015-04-17,0,0,0
1,69514,2,1,8060,8060.0,70,70,93,573,1,61,365,2767,1,0,2015-03-28,0,0,0
2,69514,2,1,8060,8060.0,70,70,91,545,1,56,333,2664,5,0,2015-03-28,0,0,0
3,69514,2,1,8060,8060.0,70,70,91,546,3,9,65,2536,5,0,2015-03-28,0,0,0
4,69514,2,1,8060,8060.0,70,70,91,546,3,11,73,679,5,0,2015-03-28,0,0,0

Now we convert ReceivedDate to a datetime feature, then extract the month (to use a categorical variable approximating season).

In [19]:
merged_pluto_hpd_census['ReceivedDate'] = pd.to_datetime(merged_pluto_hpd_census['ReceivedDate'])
merged_pluto_hpd_census['Month'] = merged_pluto_hpd_census['ReceivedDate'].map(lambda x: x.month)
merged_pluto_hpd_census = merged_pluto_hpd_census.drop('ReceivedDate', axis=1)

Now, before we finish, we need to make the following dummy variables:
  - Month
  - BoroughID
  - UnitTypeID
  - SpaceTypeID
  - TypeID
  - MajorCategoryID
  - MinorCategoryID
  - CodeID
Before we do, we describe the dataset (since adding the dummies will dramatically increase the number of features, we do this first).

In [20]:
merged_pluto_hpd_census.describe()

,BoroughID,UnitsRes,AssessTot,Avg_value_per_res_unit,BuildingAge,YearSinceLastAlter,UnitTypeID,SpaceTypeID,TypeID,MajorCategoryID,MinorCategoryID,CodeID,Probs_in_complaint,ViolationIssued,Tot_A_violations,Tot_B_violations,Tot_C_violations,Month
count,609122.000000,609122.000000,6.091220e+05,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000,609122.000000
mean,2.419904,84.783628,2.220525e+06,23228.780804,83.888305,65.596491,91.354267,546.264729,1.785552,45.719830,293.525647,2565.203797,3.701505,0.191119,7.025087,22.061372,5.286616,6.216817
std,1.001496,417.443972,1.538070e+07,58894.912807,22.943957,32.934967,0.600159,6.046985,1.033644,21.369265,107.187189,495.660288,3.356061,0.393183,16.584919,48.557439,11.001849,3.832106
min,1.000000,1.000000,0.000000e+00,0.000000,1.000000,0.000000,91.000000,541.000000,1.000000,8.000000,59.000000,617.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,8.000000,1.110160e+05,12515.625000,80.000000,30.000000,91.000000,543.000000,1.000000,28.000000,198.000000,2617.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2.000000,31.000000,6.196500e+05,17318.181818,88.000000,84.000000,91.000000,543.000000,1.000000,59.000000,348.000000,2713.000000,2.000000,0.000000,1.000000,4.000000,1.000000,6.000000
75%,3.000000,64.000000,1.327050e+06,24347.727273,95.000000,90.000000,92.000000,550.000000,3.000000,59.000000,349.000000,2806.000000,6.000000,0.000000,7.000000,23.000000,6.000000,10.000000
max,5.000000,10914.000000,5.694651e+08,14307300.000000,215.000000,215.000000,93.000000,577.000000,4.000000,65.000000,381.000000,2834.000000,42.000000,1.000000,303.000000,896.000000,151.000000,12.000000

In [21]:
merged_pluto_hpd_census.shape

(609122, 19)

Now we make dummy variables for our categorical features.

In [22]:
def make_dummy_variables(dataframe, feature):
    uniques_drop_1 = dataframe[feature].unique()[:-1]
    dummies = pd.get_dummies(dataframe[dataframe[feature].isin(uniques_drop_1)][feature])
    colnames = ['{}_{}'.format(str(feature), str(int(x))) for x in uniques_drop_1]
    dummies.columns = colnames
    return dummies

def drop_minor_classes_for_feature(dataframe, feature, min_num_obs=500):
    important_classes = dataframe[feature].value_counts()
    important_classes = important_classes[important_classes > min_num_obs]
    dataframe[feature] = dataframe[feature].map(lambda x: x if (int(x) in important_classes) else 0)
    return dataframe

def clean_categorical_vars(dataframe, list_of_cat_vars):
    for var in list_of_cat_vars:
        drop_minor_classes_for_feature(dataframe, var)
        dummies = make_dummy_variables(dataframe, var)
        dataframe = pd.concat([dataframe, dummies], axis=1)
        dataframe = dataframe.drop(var, axis=1)
    return dataframe

In [26]:
cat_vars = ['BoroughID','UnitTypeID','SpaceTypeID','TypeID','MajorCategoryID','MinorCategoryID','CodeID','Month']
cleaned_df = clean_categorical_vars(merged_pluto_hpd_census, cat_vars)

In [27]:
cleaned_df.shape

(609122, 214)

In [29]:
for i in cleaned_df.columns:
    print i

Median_income
UnitsRes
AssessTot
Avg_value_per_res_unit
BuildingAge
YearSinceLastAlter
Probs_in_complaint
ViolationIssued
Tot_A_violations
Tot_B_violations
Tot_C_violations
BoroughID_2
BoroughID_3
BoroughID_1
BoroughID_4
UnitTypeID_91
UnitTypeID_93
SpaceTypeID_543
SpaceTypeID_573
SpaceTypeID_545
SpaceTypeID_546
SpaceTypeID_547
SpaceTypeID_541
SpaceTypeID_542
SpaceTypeID_550
SpaceTypeID_571
SpaceTypeID_574
SpaceTypeID_556
SpaceTypeID_577
SpaceTypeID_548
SpaceTypeID_566
SpaceTypeID_569
SpaceTypeID_0
SpaceTypeID_549
SpaceTypeID_553
SpaceTypeID_555
SpaceTypeID_560
SpaceTypeID_558
SpaceTypeID_561
SpaceTypeID_562
TypeID_4
TypeID_1
MajorCategoryID_10
MajorCategoryID_61
MajorCategoryID_56
MajorCategoryID_9
MajorCategoryID_11
MajorCategoryID_63
MajorCategoryID_58
MajorCategoryID_59
MajorCategoryID_65
MajorCategoryID_28
MajorCategoryID_62
MajorCategoryID_8
MinorCategoryID_341
MinorCategoryID_365
MinorCategoryID_333
MinorCategoryID_65
MinorCategoryID_73
MinorCategoryID_376
MinorCategoryID_343
MinorCategoryID_68
MinorCategoryID_348
MinorCategoryID_71
MinorCategoryID_72
MinorCategoryID_334
MinorCategoryID_349
MinorCategoryID_375
MinorCategoryID_380
MinorCategoryID_198
MinorCategoryID_197
MinorCategoryID_338
MinorCategoryID_339
MinorCategoryID_63
MinorCategoryID_344
MinorCategoryID_379
MinorCategoryID_337
MinorCategoryID_374
MinorCategoryID_340
MinorCategoryID_0
MinorCategoryID_377
MinorCategoryID_371
MinorCategoryID_345
MinorCategoryID_59
MinorCategoryID_373
MinorCategoryID_381
MinorCategoryID_81
MinorCategoryID_66
MinorCategoryID_370
MinorCategoryID_305
MinorCategoryID_287
MinorCategoryID_83
MinorCategoryID_369
MinorCategoryID_368
MinorCategoryID_61
MinorCategoryID_342
MinorCategoryID_346
MinorCategoryID_291
MinorCategoryID_200
CodeID_2678
CodeID_2767
CodeID_2664
CodeID_2536
CodeID_679
CodeID_2822
CodeID_2686
CodeID_2564
CodeID_2713
CodeID_644
CodeID_2821
CodeID_2589
CodeID_2464
CodeID_2668
CodeID_2833
CodeID_2715
CodeID_2461
CodeID_647
CodeID_2717
CodeID_2681
CodeID_2817
CodeID_2834
CodeID_2828
CodeID_1364
CodeID_2521
CodeID_1389
CodeID_2524
CodeID_2673
CodeID_2675
CodeID_2538
CodeID_2820
CodeID_2534
CodeID_2823
CodeID_1271
CodeID_0
CodeID_645
CodeID_2540
CodeID_2827
CodeID_2672
CodeID_2813
CodeID_2816
CodeID_678
CodeID_2677
CodeID_2825
CodeID_2691
CodeID_2806
CodeID_2701
CodeID_2446
CodeID_2812
CodeID_2520
CodeID_2770
CodeID_900
CodeID_2688
CodeID_2716
CodeID_2529
CodeID_2831
CodeID_2487
CodeID_2700
CodeID_2667
CodeID_631
CodeID_2689
CodeID_2805
CodeID_635
CodeID_2712
CodeID_633
CodeID_2533
CodeID_2530
CodeID_2687
CodeID_624
CodeID_2790
CodeID_2651
CodeID_2541
CodeID_2546
CodeID_2489
CodeID_2798
CodeID_629
CodeID_2671
CodeID_2811
CodeID_2617
CodeID_2818
CodeID_2665
CodeID_2699
CodeID_2794
CodeID_2559
CodeID_2447
CodeID_2523
CodeID_634
CodeID_2463
CodeID_680
CodeID_2690
CodeID_2622
CodeID_2683
CodeID_2832
CodeID_2791
CodeID_2542
CodeID_2679
CodeID_2793
CodeID_2666
CodeID_636
CodeID_2705
CodeID_2526
CodeID_2531
CodeID_2525
CodeID_617
Month_4
Month_3
Month_11
Month_12
Month_1
Month_2
Month_6
Month_9
Month_8
Month_5
Month_10

In [30]:
merged_pluto_hpd_census.to_csv('../../data/merged_hpd_census_pluto.csv')